.container_footer{
    padding: 2% 10% 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
}

.footer_logo_img{
    width: 64px;
    height: 64px;
}

.footer_flex_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_title{
    margin-bottom: 3px;
    font-family: Gilroy-ExtraBold;
    font-size: 25px;
    font-weight: 700;
}

.footer_text1{
    margin-top: 3px;
    font-family: Gilroy-ExtraBold;
    font-size: 12px;
    font-weight: 500;
    color: rgba(207, 207, 207, 1);
}

.footer_href{
    margin-top: 3px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.footer_button{
    font-family: Gilroy-ExtraBold;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 951px) {
    .container_footer{
        padding: 2% 5% 2% 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
    }
}

@media (max-width: 851px) {
    .footer_button{
        display: none;
    }
    .container_footer{
        padding: 2% 10% 2% 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
    }

    .footer_logo_img{
        margin-top: -40px;
        width: 64px;
        height: 64px;
        margin-right: 15px;
    }
    
    .footer_flex_column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}